/* Code by Cameron Samuels */

body {
  margin: 0;
  margin-bottom: 30px;
  background: #ffdb4f;
  color: #111;
  font-family: helvetica, arial, sans-serif;
  text-align: left;
}

header {
  padding: 25px;
  background: #444;
  color: #fff;
}

a {
  color: inherit !important;
}

h2 {
  margin-top: 2em;
}

body>div {
  width: 90%;
  max-width: 450px;
  margin: auto;
}


/*
  Heading
*/

body>div:first-of-type {
  max-width: 550px;
  text-align: center;
}

body>div:first-of-type h1 {
  font-size: 3em;
  margin-bottom: 0;
}

body>div:first-of-type h1 img {
  height: 3rem;
}

body>div:first-of-type p {
  font-size: 1.5em;
}


/*
  Checklist
*/

#checklist {
  display: inline-block;
  padding: 0;
  list-style-type: none;
}

#checklist>h2:first-child {
  margin-top: 0;
}

#checklist li {
  margin-bottom: 1em;
  padding-left: 30px;
}

#checklist label {
  font-size: 1em;
  cursor: pointer;
}

#checklist label a {
  margin-left: 5px;
  vertical-align: middle;
}

#checklist label a img {
  height: 1em;
}

#checklist input[type="checkbox"] {
  position: relative;
  -webkit-appearance: none;
  padding: 10px;
  background: transparent;
  border: 3px #111 solid;
  border-radius: 0;
  outline: 0;
  box-shadow: none;
  -webkit-tap-highlight-color: transparent;
  vertical-align: middle;
  cursor: pointer;
}

#checklist input[type="checkbox"]:checked {
  background: green;
}

#checklist input[type="checkbox"]:checked,
#checklist input[type="checkbox"]:checked + label,
#checklist input[type="checkbox"]:checked + label + span.detail {
  opacity: .5;
}

#checklist input[type="checkbox"]:checked:before {
  content: "";
  position: absolute;
  top: -10%;
  left: -10%;
  width: 120%;
  height: 120%;
  background: url(images/check.svg) center/cover no-repeat;
}

#checklist input[type="checkbox"]:checked + label {
  color: green;
  text-decoration: line-through;
}

#checklist .detail,
#checklist .detail + span {
  display: block;
  margin-bottom: 5px;
  padding-left: 45px;
  font-size: .8em;
}

#checklist .detail span {
  display: block;
  margin-bottom: .5em;
}

#checklist .large .detail,
#checklist .large .detail + span {
  padding-left: 0;
  padding-top: 10px;
}

.large {
  box-sizing: border-box;
  padding: 15px;
  background: rgba(255,255,255,.3);
  border-radius: 20px;
  font-size: 1.25em;
}


/*
  Dropdown selection
*/

#checklist .dropdown>div {
  display: inline-block;
  position: relative;
}

#checklist .dropdown>div>div:first-of-type {
  min-width: 120px;
  border-bottom: 1px #000 solid;
  outline: 0;
  font-size: 16px;
}

#checklist .dropdown>div>div:nth-of-type(2) {
  box-sizing: border-box;
  display: none;
  position: absolute;
  width: 100%;
  background: #fff;
  z-index: 1;
}

#checklist .dropdown>div>div:first-of-type:focus + div,
#checklist .dropdown>div>div:nth-of-type(2):active {
  display: block;
}

#checklist .dropdown>div>div:nth-of-type(2) div {
  cursor: pointer;
  padding: 10px;
}

#checklist .dropdown>div>div:nth-of-type(2) div:hover {
  background: #eee;
}


/*
  Radio selection
*/

#checklist .radio {
  display: block;
}

#checklist .radio input[type="radio"] {
  display: inline-block;
  position: relative;
  width: auto;
  margin: 15px 0;
  -webkit-appearance: none;
  outline: 0;
  border: 0;
  -webkit-tap-highlight-color: transparent;
}
#checklist .radio input[type="radio"]:before {
  content: attr(value);
  padding: 10px;
  background: #444;
  color: #fff;
  cursor: pointer;
}

#checklist .radio input[type="radio"]:checked:before {
  background: #fff;
  color: #111;
}


/*
  Voting statement
*/

ul li:last-child h2 {
  margin: .5em 0;
}

ul li:last-child .detail {
  padding-top: 0 !important;
}

ul li:last-child>div {
  display: inline-block;
  font-size: .8em !important;
}

ul li:last-child [contenteditable] {
  display: inline !important;
  /* min-width: 80px; */
  border-bottom: 1px #000 solid;
  text-align: center;
}

ul li:last-child div.button,
.button {
  display: inline-block;
  margin: 10px;
  padding: 10px;
  background: #444;
  color: #fff !important;
  border-radius: 3px;
  cursor: pointer;
  user-select: none;
}

.addeventatc_icon {
  display: none !important;
}


/*
  Details
*/
.detail {
  display: none !important;
}
.details .detail,
.large .detail {
  display: block !important;
}


/*
  Texas checklist
*/
#texas:not(:target) .texas {
  display: none !important;
}
#texas:target .generic {
  display: none !important;
}