/* Code by Cameron Samuels */

body {
  margin: 0;
  margin-bottom: 30px;
  background: #ffdb4f;
  color: #111;
  font-family: helvetica, arial, sans-serif;
  text-align: left;
}

header {
  padding: 25px;
  background: #444;
  color: #fff;
}

a {
  color: inherit !important;
}

h2 {
  margin-top: 2em;
}

body>div {
  width: 90%;
  max-width: 450px;
  margin: auto;
}


/*
  Heading
*/

body>div:first-of-type {
  max-width: 550px;
  text-align: center;
}

body>div:first-of-type h1 {
  font-size: 3em;
  margin-bottom: 0;
}

body>div:first-of-type h1 img {
  height: 3rem;
}

body>div:first-of-type p {
  font-size: 1.5em;
}


/*
  Checklist
*/

#checklist {
  display: inline-block;
  padding: 0;
  list-style-type: none;
}

#checklist>h2:first-child {
  margin-top: 0;
}

#checklist li {
  margin-bottom: 1em;
  padding-left: 20px;
}

#checklist label {
  font-size: 1em;
  cursor: pointer;
}

#checklist label a {
  margin-left: 5px;
  vertical-align: middle;
}

#checklist label a img {
  height: 1em;
}

#checklist input[type="checkbox"] {
  position: relative;
  -webkit-appearance: none;
  padding: 10px;
  background: transparent;
  border: 3px #111 solid;
  border-radius: 0;
  outline: 0;
  box-shadow: none;
  -webkit-tap-highlight-color: transparent;
  vertical-align: middle;
  cursor: pointer;
}

#checklist input[type="checkbox"]:checked {
  background: green;
}

#checklist input[type="checkbox"]:checked,
#checklist input[type="checkbox"]:checked + label,
#checklist input[type="checkbox"]:checked + label + span.detail {
  opacity: .5;
}

#checklist input[type="checkbox"]:checked:before {
  content: "";
  position: absolute;
  top: -10%;
  left: -10%;
  width: 120%;
  height: 120%;
  background: url(images/check.svg) center/cover no-repeat;
}

#checklist input[type="checkbox"]:checked + label {
  color: green;
  text-decoration: line-through;
}

#checklist .detail,
#checklist .detail + span {
  display: block;
  margin-bottom: 5px;
  padding-left: 45px;
  font-size: .8em;
}

#checklist .detail span {
  display: block;
  margin-bottom: .5em;
}

#checklist .large .detail,
#checklist .large .detail + span {
  padding-left: 0;
  padding-top: 10px;
}

.large {
  box-sizing: border-box;
  padding: 20px;
  background: rgba(255,255,255,.3);
  border-radius: 20px;
  font-size: 1.25em;
}


/*
  Location picker
*/

input[type="text"] {
  -webkit-appearance: none;
  min-width: 120px;
  padding: 4px;
  background: transparent;
  color: #111;
  border: 1px #000 solid;
  border-radius: 0;
  box-shadow: none;
  outline: 0;
  font-size: 16px;
}


/*
  Date/time picker
*/

input[type="date"],
input[type="time"] {
  min-height: 16px;
  border: 1px solid #444;
  border-radius: 0;
  background: transparent;
  padding: 3px 5px;
  box-shadow: none;
  outline: 0;
  font-size: 16px;
}


/*
  Dropdown selection
*/

#checklist .dropdown {
  display: inline-block;
  position: relative;
}

#checklist .dropdown>input[type="text"] {
  min-width: 120px;
  padding: 4px;
  border: 1px #000 solid;
  outline: 0;
  font-size: 16px;
}

#checklist .dropdown>div {
  box-sizing: border-box;
  display: none;
  position: absolute;
  width: 100%;
  background: #fff;
  z-index: 1;
}

#checklist .dropdown>input[type="text"]:focus + div,
#checklist .dropdown>div:active {
  display: block;
}

#checklist .dropdown>div>div {
  cursor: pointer;
  padding: 10px;
}

#checklist .dropdown>div>div:hover {
  background: #eee;
}


/*
  Radio selection
*/

#checklist .radio {
  display: block;
}

#checklist .radio input[type="radio"] {
  display: inline-block;
  position: relative;
  width: auto;
  margin: 15px 0;
  -webkit-appearance: none;
  outline: 0;
  border: 0;
  -webkit-tap-highlight-color: transparent;
}
#checklist .radio input[type="radio"]:before {
  content: attr(value);
  padding: 10px;
  background: #444;
  color: #fff;
  cursor: pointer;
}

#checklist .radio input[type="radio"]:checked:before {
  background: #fff;
  color: #111;
}


/*
  Voting statement
*/

#checklist>li:last-child:not(.large) {
  padding-left: 0;
  font-size: 1.25em;
}

#checklist>li:last-child h2 {
  margin: 0 0 .5em;
}

#checklist>li:last-child .detail {
  display: block !important;
  padding: 0 !important;
}

#checklist>li:last-child>div {
  display: inline-block;
  font-size: .8em !important;
}

#checklist>li:last-child .statement span {
  display: inline !important;
  min-width: 10px;
  border-bottom: 1px #000 solid;
}

#checklist>li:last-child div.button,
.button {
  display: inline-block;
  margin: 10px;
  padding: 10px;
  background: #444;
  color: #fff !important;
  border-radius: 3px;
  cursor: pointer;
  user-select: none;
}

.addeventatc_icon {
  display: none !important;
}


/*
  Details
*/
.detail {
  display: none !important;
}
.details .detail,
.large .detail {
  display: block !important;
}


/*
  Texas checklist
*/
#texas:not(:target) .texas {
  display: none !important;
}
#texas:target .generic {
  display: none !important;
}


/*
  Print checklist
*/

@media print {

  .print-statement #checklist>li:not(:last-child),
  .print-statement #checklist>div,
  .print-statement #checklist>h2 {
    display: none;
  }

  li, span, label, input, h2 {
    page-break-inside: avoid;
  }

  body, ul {
    margin-bottom: 0;
  }

  header,
  noscript,
  body>div:nth-of-type(2)>p,
  #checklist>li:last-child .button
  {
    display: none !important;
  }

  #checklist>li:last-child {
    border: 4px #000 solid;
    padding: 20px !important;
    margin-bottom: 0;
  }

  #checklist a {
    font-size: 1px;
    letter-spacing: -1px;
    color: transparent;
  }

  #checklist a:after {
    content: attr(href);
    font-size: 16px;
    letter-spacing: normal;
    color: #111;
  }

  input[type="radio"]:before {
    color: #111 !important;
    border: 1px #111 solid;
  }

}
